<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>
        body {
            padding: 10px 150px;
        }
    </style>
</head>
<body>
  <h2>{{.Title}}</h2>
  <h3>By {{.Author}} on {{.CreatedDate}}</h3>
  <div>
    {{.Content}}
  </div>
  <div>
    <a href="/blogs/{{.ArticleID}}/edit">Edit</a>
  </div>
</body>
</html>