<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <style>
        body {
            padding: 10px 150px;
        }
    </style>
</head>
<body>
    {{ if not .Articles}}
        <h2>No blogs found</h2>
    {{ else }}
        {{ range .Articles }}
            <section>
                <h1>{{ .Title}}</h1>
                <h4>Author: {{ .Author}} {{ .Created.Format "Jan 02, 2006" }}</h4>
                <div>{{.Content}}</div>
            </section>
        {{ end }}
    {{ end }}
</body>
</html>